
.CheckoutSummery {
    width: 80%;
    margin: auto;
    text-align: center;

}
@media (min-width: 600px) {
    .CheckoutSummery{
        width: 500px;
    }
}



.buts{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
   
}
button{
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 1px sloid rgb(58, 55, 55) ;
}
.buts .Continue{
    background-color: rgb(9, 114, 15);
}
.buts .Cansle{
    background-color: rgb(196, 12, 12) ; 
}